<form action="/register" method="post" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="enter name" id="" required>
    <br>
    <br>
    <input type="email" name="email" placeholder="enter email" id="" required>
    <br>
    <br>
    <input type="tel" name="mobile" placeholder="enter mobile" id="" required>
    <br>
    <br>
    <input type="password" name="password" placeholder="enter password" id="" required>
    <br>
    <br>
    <input type="file" name="image" required id="">
    <br>
    <br>
    <button type="submit">submit</button>
</form>